:root{
    --pink: hsl(322, 100%, 66%);
    --lightpink: hsl(321, 100%, 78%);
    --lightred: hsl(0, 100%, 63%);
    --darkcyan: hsl(192, 100%, 9%);
    --paleblue: hsl(207, 100%, 98%);
    --white: hsl(0, 0%, 100%);
    ---headingfont: Poppins;
    --headingweight: 700;
    --body: "Open Sans";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body);
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 20px;
    font-size: 1rem;
}
header img{
    width: 100px;
    height: 20px;
}
header a{
    font-size: .8em;
    padding: 10px 20px;
    display: inline-flex;
    text-decoration: none;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 20px;
}
header a:hover, header a:focus{
    box-shadow: 0 0 .5px .5px var(--lightpink);
}

main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    color: var(--darkcyan);
    font-size: 1rem;
}
main *{
    margin-top: 40px;
}
main h3{
    font-family: var(---headingfont);
    font-size: 2em;
    line-height: 1.5;
}
main p{
    font-size: 1em;
    font-weight: 300;
}
.started {
    text-decoration: none;
    font-size: .9rem;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 40px;
    padding: 15px 30px;
    margin: 40px auto 0 auto;
    font-weight: 600;
}
.started:hover, .started:focus{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.stat{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.stat-txtbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.stat > img:first-child{
    width: 80%;
    margin: 0 auto;
}
.stat >img{
    width: 100%;
}
.stat-txtbox{
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
.stat-txtbox img{
    width: 30px;
}
.stat-txtbox h4{
    font-family: var(---headingfont);
    font-size: 3.5em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    text-align: left;
    color: var(--darkcyan);
}
.stat-txtbox:first-child h4{
    font-size: 4.05em ;
}
.stat-txtbox p{
    font-size: 1.15em;
    text-align: center;
    color: var(--darkcyan);
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 152px;
    background-color: var(--paleblue);
    position: relative;
    text-align: center;
    color: var(--darkcyan);
    font-size: 1rem;
}
.features img{
    width: 100%;
}
.features img:nth-child(3), .flowing img{
    margin: 50px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    object-fit: cover;
}
.flowing{
    background-color: white;
}
img[src*="desktop"]{
    display: none;
}
.features img[src*="mobile"]{
    width: 100%;
    height: 110px;
}
.grow img[src*="top-mobile-1"]{
    position: absolute;
    top: -110px;
}
.grow img[src*="bottom-mobile-1"]{
    position: absolute;
    bottom: -110px;
}
.users img[src*="top-mobile-2"]{
    position: absolute;
    top: -110px;
}
.users img[src*="bottom-mobile-2"]{
    position: absolute;
    bottom: -110px;
}
.features h4{
    font-size: 2em;
    font-weight: 700;
    font-family: var(---headingfont);
    padding: 25px;
    margin-top: 45px;
}
.features p{
    padding: 0 25px 25px 25px;
    font-weight: 300;
    font-size: 1.15rem;
    font-family: var(--body);
}

.ready{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin: 150px 0 150px 0 ;
    padding: 70px 0;

}
.ready h3{
    font-family: var(---headingfont);
    font-size: 1.8em;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: var(--darkcyan);
    color: var(--white);
    position: relative;
    font-size: 1rem;
}
footer img[src*="footer-top-mobile"]{
    position: absolute;
    height: 55px;
    top: -55px;
    width: 100%;
}
footer form{
    padding: 30px;
}
footer h4{
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 10px 0;
}
footer p{
    margin-bottom: 30px;
}
footer input{
    display: block;
    font-family: var(--body);
    font-size: 1.1em;
}
input[type="text"]{
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}
input[type="text"]:focus{
    outline: 1px solid var(--lightred);
}
input[type="submit"]{
    margin-right: 0;
    margin-left: auto;
    padding: 15px 20px;
    width: 50%;
    max-width: 200px;
    color: var(--white);
    background-color: var(--pink);
    border: none;
    font-weight: 700;
    border-radius: 5px;
}
input[type="submit"]:hover, input[type="submit"]:focus{
    box-shadow: 0 0 1px 1px var(--lightpink);
    cursor: pointer;
}

.footer{
    padding: 30px 30px 50px 30px;
}
.footer img{
    width: 50px;
    color: white;
}
.footer h4{
    color: wh;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: 700;
}
.attribution{
    margin-top: 60px;
    color: grey;
    text-align: center;
    position: absolute;
    bottom: -30px;
    width: 100%;
}
.attribution a{
    color: var(--paleblue);
    text-decoration: none;
}
.attribution a:hover{
    text-decoration: underline;
}

.footer .contact{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.contact i{
    font-size: 1.5em;
}
.contact p{
    margin: 5px 15px ;
}
.social-links{
    display: flex;
    margin-top: 40px
}
.social-links a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    margin-right: .7em;
    border-radius: 2px;
}
.social-links a:hover i, .social-links a:focus i{
    color: hsl(217, 50%, 42%);
}

@media screen and (min-width:700px){
    header, main, .stat, .features, .ready, footer {
        font-size: 1.1rem;
    }
    header{
        padding: 3em;
    }
    header img{
        width: 150px;
        height: 40px;
    }

    main p{
        width: 70%;
        margin: 0 auto;
    }

    .stat-txtbox-container{
        flex-direction: row;
    }
    .features{
        flex-direction: row-reverse;
    }

    .flowing{
        flex-direction: row;
    }

    .features img:nth-child(3), .flowing img{
        width: 50%;
    }

    .features-txtbox{
        width: 50%;
    }

    img[src*="mobile"]{
        display: none;
    }
    img[src*="desktop"]{
        display: block;
        width: 100% !important;
        margin: 0;
        height: 150px;
    }
    .grow img[src*="top-desktop-1"]{
        position: absolute;
        top: -150px;
    }
    .grow img[src*="bottom-desktop-1"]{
        position: absolute;
        bottom: -150px;
    }
    .users img[src*="top-desktop-2"]{
        position: absolute;
        top: -150px;
    }
    .users img[src*="bottom-desktop-2"]{
        position: absolute;
        bottom: -150px;
    }

    .ready{
        padding: 100px 0;
    }

    footer{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    footer img[src*="footer-top-desktop"]{
        position: absolute;
        top: -150px;
    }

    form, .footer{
        width: 45%;
        margin-left: 2.5%;
        margin-bottom: 20px;
    }
}